
@import url('https://fonts.googleapis.com/css2?family=Akronim&family=Monoton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Original+Surfer&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Faster+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Finger+Paint&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: rgb(253, 254, 255);
  background: #131222;
}

/* font styles */
.farkonium{
  font-family: 'Akronim', cursive;
}
.fmonoton{
  font-family: 'Monoton', cursive;
}
.ffaster{
  font-family: 'Faster One', cursive;
}
.forigSurfer{
  font-family: 'Original Surfer', cursive;
}
.ffingerpaint{
  font-family: 'Finger Paint', cursive;
}

.sticky{
  position: sticky;
  top: 0;
}

canvas{
  font-family: 'Akronim', cursive;
}
.link{
  text-decoration: none!important;
}

.cursorDefault{
  cursor: default;
}